@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');


html {
  height: 100%;
}

article{
    /* 가로 정렬 */
    display: flex;
    /* 세로정렬  - 부모에 해당하는 article을 꽉 채우는 형태로 생성*/
    flex-direction: column;

}


/* 전체 */
.container{
    background-image: url(bg3.jpg);
    
    background-position: bottom;
    background-size: contain;
    background-repeat: inherit;
}



.start{
  width: 100%;
}

/* 코드펜 */
.container2 {
  transform: translate(-50%, 30%);
  top: 50%;
  left: 50%;
  display: block;
  position: relative;
  max-width: 300px;
  margin-top: 5%;
}


h1 {
  font-family: "Fjalla One", sans-serif;
  background: linear-gradient(to bottom, #405166 0%, #656f6f 100%);
  color: #fff;
  text-transform: uppercase;
  font-size: 42px;
  margin: 0;
  line-height: 32px;
  letter-spacing: 5px;
}

.title {
  transform: translateX(-50%) rotate(-10deg);
  display: block;
  float: left;
  left: 50%;
  position: relative;
}

span {
  font-family: 'Jua', sans-serif;
  margin-top: 8%;
  transform: skew(-10deg);
  display: block;
  float: left;
  text-shadow: #533d4a 1px 1px, #533d4a 2px 2px, #533d4a 3px 3px, #533d4a 4px 4px, #533d4a 5px 5px, #533d4a 6px 6px;
  min-width: 10px;
  min-height: 10px;
  position: relative;
}

.title:nth-child(1) {
  color: #e5ff00;
}
.title:nth-child(2) {
  color: #ffffff;
}
.title:nth-child(3) {
  color: #ffffff;
}



/* 제목 */
/* #subject1{
    font-family: 'Gugi', cursive;
    color: #ffffff;
    margin-top: 55%;
    font-size: 2em;
    float: left;
}


#subject2{
    font-family: 'Gugi', cursive;
    color: #ffffff;
} */


/* 이미지 업로드 */
.image-upload{

    display: none;
    width: 100%;
    margin-top: 13%;
}

.file-upload {
  background-color: #ffffff;
  width: 100%;
  margin: 0 auto;
  margin-top: 10%;
  padding: 20px;
  padding-bottom: 40px;
  border: 3px solid yellow;
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  font-family: 'Jua', sans-serif;
  background: #eeff00;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #ffd000;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #ffc400;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  margin-top: 40px;
  border: 4px dashed #ffee00;
  position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #ffffff;
  border: 4px dashed #ffffff;
}

.image-title-wrap {
  padding: 10px 15px 15px 15px;
  color: #222;
}


.image-title{

  margin-top: 10%;
  color: #646464;
}


.drag-text {
  font-family: 'Jua', sans-serif;
  text-align: center;
}

.drag-text h4 {
  font-weight: 100;
  text-transform: uppercase;
  color: #000000;
  padding: 60px 0;
}

.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

.remove-image {
  font-family: 'Jua', sans-serif;
  width: 200px;
  margin: 0;
  /* color: #fff; */
  background: #ffee00;
  border: none;
  padding: 20px;
  border-radius: 4px;
  border-bottom: 4px solid #ff9100;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
  
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}


/* 결과보기 */
.go-result{

  font-family: 'Jua', sans-serif;
  width: 100px;
  margin: 0;
  /* color: #fff; */
  background: #ffee00;
  border: none;
  padding: 10px;
  margin-top: 15%;
  border-radius: 4px;
  border-bottom: 4px solid #ff9100;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}


/* 문제 항목 */
/* #title1{
  font-family: 'Jua', sans-serif;
  color: rgb(204, 19, 204);
  font-size: 1.4em;
  margin-left: 3%;
}


#title2{
  font-family: 'Jua', sans-serif;
  font-size: 1.2em;
  font-weight: 600;
} */


.result{
    display: none;
}


/* 알고 계셨나요?1 */
#know1{
  margin-top: 25%;
  font-family: 'Jua', sans-serif;
  color: brown;
}

/* 알고 계셨나요?2 */
#know2{
  
  font-size: 1.1em;
  font-family: 'Jua', sans-serif;
}


/* 결과 이미지 */
#img{
    width: 270px;
    height: 270px;
    margin: 0 auto;
    border: 5px solid #d4a1c9;
}


/* mbti 유형 */
#cat{

  margin-top: 10%;
  font-family: 'Jua', sans-serif;
  color: #8d1d75;
}


/* character */
#explain{

  margin-top: 5%;
  font-family: 'Jua', sans-serif;
  color: red;
}


/* 마스크 테스트 이미지 */
#mask-img{

  width: 180px;
  height: 180px;
  margin: 0 auto;
  border: 5px solid #7c7c75;
  margin-top: 5%;
  margin-bottom: 5%;
}


/* 마스크 테스트 하러가기 */
#mask{

  margin-top: 2%;
  font-family: 'Jua', sans-serif;
  color: red;
}


/* 처음부터 버튼 */
#fun2{

  margin-top: 20%;
  margin-bottom: 15%;
  padding: 0.8em 1.2em;
}


/* 공유하기 */
#sharing{

  margin-top: 3%;
  margin-bottom: 3%;
  font-family: 'Jua', sans-serif;
}


/* 버튼 */
#btns {
	display: flex;
	justify-content: center;
}

/* 버튼 */
.page {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
}


/* add default color for animation start  */


/* toggle this class */

.color-bg-start {
  background-color: salmon;
}


/* toggle class bg-animate-color */

.bg-animate-color {
  animation: random-bg .5s linear infinite;
}


/* add animation to bg color  */

@keyframes random-bg {
  from {
    filter: hue-rotate(0);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

.fun-btn {
  /* change bg color to get different hues    */
  font-family: 'Jua', sans-serif;
  background-color: rgb(251, 255, 0);
  /* color: white; */
  padding: 1.5em 2em;
  border: none;
  transition: all .3s ease;
  border-radius: 5px;
  letter-spacing: 2px;
  text-transform: uppercase;
  outline: none;
  align-self: center;
  cursor: pointer;
  font-weight: bold;
}

.fun-btn:hover {
  animation: random-bg .5s linear infinite, grow 1300ms ease infinite;
}

.start-fun {
  background-color: #fff !important;
  /* change color of button text when fun is started   */
  color: salmon !important;
}


/* 문제 버튼 */
.w-btn {
  position: relative;
  border: none;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: bolder;
  transition: 0.25s;
}

.w-btn-outline {
  position: relative;
  padding: 15px 30px;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  transition: 0.25s;
}

.w-btn-pink {
  background-color: #f199bc;
  font-size: 16px;
  font-family: 'Jua', sans-serif;
}


.w-btn-pink-outline {
  border: 3px solid #f199bc;
}


.w-btn-pink-outline:hover {
  background-color: #f199bc;
}



.w-btn-outline:hover {
  letter-spacing: 2px;
  transform: scale(1.2);
  cursor: pointer;
}

.w-btn:active {
  transform: scale(1.5);
}

.w-btn-outline:active {
  transform: scale(1.5);
}



/* pulsating effect on button */
@keyframes grow {
  0% {
    transform: scale(1);
  }
  14% {
    transform: scale(1.3);
  }
  28% {
    transform: scale(1);
  }
  42% {
    transform: scale(1.3);
  }
  70% {
    transform: scale(1);
  }
}


/* 프로그레스바 */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  width: 100%;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}
#loader {
  width: 550px;
}
.percent-count {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  font-family: 'Raleway', sans-serif;
  font-size: 2.5rem;
  color: #8aaaff;
}


/* 전 프로그래스바 */
/* .progress-bar {
  background: #e6eeff;
  width: 100%;
  height: 15px;
  border-radius: 50px;
  margin-bottom: 20%;
  overflow: hidden;
}
.progress-bar .progress {
  background-image: linear-gradient(90deg, #8aaaff, #fa8cff);
  width: 3px;
  height: 30px;
  border-radius: 5px;
} */


/* 처음부터 */
#begin{
  font-family: 'Jua', sans-serif;
  color: rgb(255, 251, 0);
  font-size: 1.1em;
}


/* 로딩창 */
.loading{
  /* 시작할때는 안보이게 */
  display: none;

  width:200px;
  height:60px;
  position: absolute;
  left:50%;
  top:32%;
  transform: translate(-50%, -50%);
}


.cat {
  position: relative;
  width: 100%;
  max-width: 20em;
  overflow: hidden;
  background-color: #e6dcdc;
}
.cat::before {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.cat:hover > * {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.cat:active > * {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.cat__body, .cat__tail, .cat__head {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-animation: rotating 2.79s cubic-bezier(0.65, 0.54, 0.12, 0.93) infinite;
          animation: rotating 2.79s cubic-bezier(0.65, 0.54, 0.12, 0.93) infinite;
}
.cat__body::before, .cat__tail::before, .cat__head::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  background-size: 200%;
  background-repeat: no-repeat;
  background-image: url("https://images.weserv.nl/?url=i.imgur.com/M1raXX3.png&il");
}

.cat__head::before {
  top: 0;
  right: 0;
  background-position: 100% 0%;
  transform-origin: 0% 100%;
  transform: rotate(90deg);
}

.cat__tail {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.cat__tail::before {
  left: 0;
  bottom: 0;
  background-position: 0% 100%;
  transform-origin: 100% 0%;
  transform: rotate(-30deg);
}

.cat__body {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.cat__body:nth-of-type(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.cat__body::before {
  right: 0;
  bottom: 0;
  background-position: 100% 100%;
  transform-origin: 0% 0%;
}

@-webkit-keyframes rotating {
  from {
    transform: rotate(720deg);
  }
  to {
    transform: none;
  }
}

@keyframes rotating {
  from {
    transform: rotate(720deg);
  }
  to {
    transform: none;
  }
}
.box {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  justify-content: center;
  align-items: center;
  background-color: #e6dcdc;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  line-height: 1.4;
}

.intro {
  width: 120%;
  max-width: 36rem;
  padding-bottom: 1rem;
  padding-right: 15%;
  margin: 0 auto 1em;
  padding-top: 0.5em;
  font-size: calc(1rem + 2vmin);
  text-transform: capitalize;
  text-align: center;
  font-family: 'Jua', sans-serif;
  color: rgb(255, 166, 0);
}

.intro small {
  display: block;
  opacity: 0.5;
  font-style: italic;
  text-transform: none;
}

.info {
  margin: 0;
  padding: 1em;
  font-size: 0.9em;
  font-style: italic;
  font-family: serif;
  text-align: right;
  opacity: 0.5;
}
.info a {
  color: inherit;
}




/* 결과 공유창 */
.share{

  margin: 0 auto;
  margin-bottom: 10%;
}


/* footer */
.footer {
  display: flex;
  flex-direction: row;
  background-color: #aaa7a9;
  width: 110%;
  height: 200px;
  margin-top: 30%;
  margin-left: -5%;
  padding: 35px 30px 0 30px;
  font-family: 'Jua', sans-serif;
  /* border: 3px solid #8d1d75; */
}


#footer-h {
  color: var(--color-white);
  font-size: 1.5rem;
  font-family: 'Jua', sans-serif;
}

#footer-p {
  color: var(--color-light-gray);
  font-size: 0.8rem;
  margin-top: 0;
  margin-bottom: 3px;
}


/* footer */
footer{

  margin-top: 25%;
}


/* kakao addfit */
.kakao_ad{

  width: 320px;
  margin: 0 auto;
}


/* 프로그래스바 하트 아이콘

#progress-icon {
  overflow: visible;
  z-index: 2;
  text-align: end;
  font-size: 2.0rem;
  text-shadow: 
  0 0 5px #2196f3,
  0 0 20px #2196f3,
  0 0 30px #2196f3,
  0 0 40px #2196f3,
  0 0 50px #2196f3;
animation: icon-animate 5s linear infinite;
}

@keyframes icon-animate {
0% {
  filter: hue-rotate(-5deg);
}

100% {
  filter: hue-rotate(10deg);
}
}

#progress-icon::before {
  text-align: end;
  background-color: transparent;
  overflow: visible;
} */
